code/python/logic-apps/docAIEmailProcessingLogicApp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition_-_Has_Attachment(s)": {
                "actions": {
                    "For_each_attachment": {
                        "actions": {
                            "Get_Attachment_(V2)": {
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "office365"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/codeless/v1.0/me/messages/@{encodeURIComponent(triggerBody()?['id'])}/attachments/@{encodeURIComponent(item()?['id'])}"
                                },
                                "type": "ApiConnection"
                            },
                            "f(extractAttachmentData)": {
                                "inputs": {
                                    "body": {
                                        "attachmentName": "@body('Get_Attachment_(V2)')?['name']",
                                        "classes": "@body('f(getAttachmentClass)')",
                                        "from": "@triggerBody()?['from']",
                                        "messageType": "email-attachment",
                                        "receivedTimeFolder": "@formatDateTime(triggerBody()?['receivedDateTime'], 'yyyy-MM-ddTHH:mm:ss')",
                                        "uri": "https://trxdocaixblob.blob.core.windows.net/docai/logic-app-extracted-emails/"
                                    },
                                    "function": {
                                        "connectionName": "azureFunctionOperation-7"
                                    },
                                    "method": "POST",
                                    "queries": {
                                        "messageId": "@{triggerBody()?['id']}"
                                    }
                                },
                                "runAfter": {
                                    "f(getAttachmentClass)": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "type": "Function"
                            },
                            "f(getAttachmentClass)": {
                                "inputs": {
                                    "body": {
                                        "attachmentName": "@item()?['name']",
                                        "from": "@triggerBody()?['from']",
                                        "messageType": "email-attachment",
                                        "receivedTimeFolder": "@formatDateTime(triggerBody()?['receivedDateTime'], 'yyyy-MM-ddTHH:mm:ss')",
                                        "uri": "https://trxdocaixblob.blob.core.windows.net/docai/logic-app-extracted-emails/"
                                    },
                                    "function": {
                                        "connectionName": "azureFunctionOperation-5"
                                    },
                                    "method": "POST",
                                    "queries": {
                                        "messageId": "@{triggerBody()?['id']}"
                                    }
                                },
                                "runAfter": {
                                    "saveAttachmentInBlobStore": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "type": "Function"
                            },
                            "f(saveAttachmentProperties)": {
                                "inputs": {
                                    "body": {
                                        "attachmentName": "@item()?['name']",
                                        "classes": "@body('f(getAttachmentClass)')",
                                        "from": "@triggerBody()?['from']",
                                        "messageType": "email-attachment",
                                        "receivedTime": "@triggerBody()?['receivedDateTime']",
                                        "receivedTimeFolder": "@formatDateTime(triggerBody()?['receivedDateTime'], 'yyyy-MM-ddTHH:mm:ss')",
                                        "uri": "https://trxdocaixblob.blob.core.windows.net/docai/logic-app-extracted-emails/"
                                    },
                                    "function": {
                                        "connectionName": "azureFunctionOperation-6"
                                    },
                                    "method": "POST",
                                    "queries": {
                                        "messageId": "@{triggerBody()?['id']}"
                                    }
                                },
                                "runAfter": {
                                    "f(getAttachmentClass)": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "type": "Function"
                            },
                            "saveAttachmentInBlobStore": {
                                "inputs": {
                                    "body": "@base64ToBinary(body('Get_Attachment_(V2)')?['contentBytes'])",
                                    "headers": {
                                        "ReadFileMetadataFromServer": true
                                    },
                                    "host": {
                                        "connection": {
                                            "referenceName": "azureblob-2"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('trxdocaixblob'))}/files",
                                    "queries": {
                                        "folderPath": "/docai/logic-app-extracted-emails/@{triggerBody()?['from']}/@{formatDateTime(triggerBody()?['receivedDateTime'], 'yyyy-MM-ddTHH:mm:ss')}/attachments/",
                                        "name": "@item()?['name']",
                                        "queryParametersSingleEncoded": true
                                    }
                                },
                                "runAfter": {
                                    "Get_Attachment_(V2)": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                },
                                "type": "ApiConnection"
                            }
                        },
                        "foreach": "@triggerBody()?['attachments']",
                        "type": "Foreach"
                    }
                },
                "else": {
                    "actions": {}
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()?['hasAttachments']",
                                true
                            ]
                        }
                    ]
                },
                "runAfter": {},
                "type": "If"
            },
            "f(getEmailClass)": {
                "inputs": {
                    "body": {
                        "body": "@body('f(removeHTMLFromEmailBody)')",
                        "messageType": "email-body",
                        "subject": "@triggerBody()?['subject']"
                    },
                    "function": {
                        "connectionName": "azureFunctionOperation-3"
                    },
                    "method": "POST",
                    "queries": {
                        "messageId": "@{triggerBody()?['id']}"
                    }
                },
                "runAfter": {
                    "f(removeHTMLFromEmailBody)": [
                        "SUCCEEDED"
                    ]
                },
                "type": "Function"
            },
            "f(removeHTMLFromEmailBody)": {
                "inputs": {
                    "body": "@triggerBody()?['body']",
                    "function": {
                        "connectionName": "azureFunctionOperation"
                    },
                    "method": "POST"
                },
                "runAfter": {},
                "type": "Function"
            },
            "f(saveEmailProperties)": {
                "inputs": {
                    "body": {
                        "bodyPreview": "@triggerBody()?['bodyPreview']",
                        "classes": "@body('f(getEmailClass)')",
                        "from": "@triggerBody()?['from']",
                        "hasAttachment": "@triggerBody()?['hasAttachments']",
                        "isHTML": "@triggerBody()?['isHtml']",
                        "messageType": "email-body",
                        "receivedTime": "@triggerBody()?['receivedDateTime']",
                        "receivedTimeFolder": "@formatDateTime(triggerBody()?['receivedDateTime'], 'yyyy-MM-ddTHH:mm:ss')",
                        "subject": "@triggerBody()?['subject']",
                        "uri": "https://trxdocaixblob.blob.core.windows.net/docai/logic-app-extracted-emails/"
                    },
                    "function": {
                        "connectionName": "azureFunctionOperation-4"
                    },
                    "method": "POST",
                    "queries": {
                        "messageId": "@{triggerBody()?['id']}"
                    }
                },
                "runAfter": {
                    "f(getEmailClass)": [
                        "SUCCEEDED"
                    ]
                },
                "type": "Function"
            },
            "saveEmailBodyInBlobStore": {
                "inputs": {
                    "body": "@body('f(removeHTMLFromEmailBody)')",
                    "headers": {
                        "ReadFileMetadataFromServer": true
                    },
                    "host": {
                        "connection": {
                            "referenceName": "azureblob-2"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('trxdocaixblob'))}/files",
                    "queries": {
                        "folderPath": "/docai/logic-app-extracted-emails/@{triggerBody()?['from']}/@{formatDateTime(triggerBody()?['receivedDateTime'], 'yyyy-MM-ddTHH:mm:ss')}/",
                        "name": "EmailBody.msg",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "f(removeHTMLFromEmailBody)": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_new_email_with_DocAI_in_subject_line_arrives_(V3)": {
                "inputs": {
                    "fetch": {
                        "method": "get",
                        "pathTemplate": {
                            "template": "/v3/Mail/OnNewEmail"
                        },
                        "queries": {
                            "fetchOnlyWithAttachment": false,
                            "folderPath": "Inbox",
                            "importance": "Any",
                            "includeAttachments": true,
                            "subjectFilter": "DocAI"
                        }
                    },
                    "host": {
                        "connection": {
                            "referenceName": "office365"
                        }
                    },
                    "subscribe": {
                        "body": {
                            "NotificationUrl": "@{listCallbackUrl()}"
                        },
                        "method": "post",
                        "pathTemplate": {
                            "template": "/GraphMailSubscriptionPoke/$subscriptions"
                        },
                        "queries": {
                            "fetchOnlyWithAttachment": false,
                            "folderPath": "Inbox",
                            "importance": "Any"
                        }
                    }
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnectionNotification"
            }
        }
    },
    "kind": "Stateful"
}