code/python/logic-apps/document-extraction-workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "removeHTMLFromEmailBody": {
                "inputs": {
                    "body": {
                        "emailBody": "@triggerBody()?['body']"
                    },
                    "function": {
                        "connectionName": "azureFunctionOperation"
                    },
                    "method": "POST"
                },
                "runAfter": {},
                "type": "Function"
            },
            "saveEmailBodyInBlobStore": {
                "inputs": {
                    "body": "@body('removeHTMLFromEmailBody')",
                    "headers": {
                        "ReadFileMetadataFromServer": true
                    },
                    "host": {
                        "connection": {
                            "referenceName": "azureblob-2"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('trxdocaixblob'))}/files",
                    "queries": {
                        "folderPath": "/docai/logic-app-extracted-emails/@{triggerBody()?['from']}/@{formatDateTime(triggerBody()?['receivedDateTime'], 'yyyy-MM-ddTHH:mm:ss')}/",
                        "name": "EmailBody.msg",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "removeHTMLFromEmailBody": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "saveMetadataInCosmosDB": {
                "inputs": {
                    "body": {
                        "bodyPreview": "@triggerBody()?['bodyPreview']",
                        "from": "@triggerBody()?['from']",
                        "hasAttachment": "@triggerBody()?['hasAttachments']",
                        "isHTML": "@triggerBody()?['isHtml']",
                        "messageType": "email-body",
                        "receivedTime": "@triggerBody()?['receivedDateTime']",
                        "receivedTimeFolder": "@formatDateTime(triggerBody()?['receivedDateTime'], 'yyyy-MM-ddTHH:mm:ss')",
                        "subject": "@triggerBody()?['subject']",
                        "uri": "https://trxdocaixblob.blob.core.windows.net/docai/logic-app-extracted-emails/"
                    },
                    "function": {
                        "connectionName": "azureFunctionOperation-2"
                    },
                    "method": "POST",
                    "queries": {
                        "messageId": "@{triggerBody()?['id']}"
                    }
                },
                "runAfter": {
                    "saveEmailBodyInBlobStore": [
                        "SUCCEEDED"
                    ]
                },
                "type": "Function"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_new_email_arrives_(MS_Office_365)": {
                "inputs": {
                    "fetch": {
                        "method": "get",
                        "pathTemplate": {
                            "template": "/v3/Mail/OnNewEmail"
                        },
                        "queries": {
                            "fetchOnlyWithAttachment": false,
                            "folderPath": "Inbox",
                            "from": "tirthankar.barari@microsoft.com",
                            "importance": "Any",
                            "includeAttachments": true
                        }
                    },
                    "host": {
                        "connection": {
                            "referenceName": "office365"
                        }
                    },
                    "subscribe": {
                        "body": {
                            "NotificationUrl": "@{listCallbackUrl()}"
                        },
                        "method": "post",
                        "pathTemplate": {
                            "template": "/GraphMailSubscriptionPoke/$subscriptions"
                        },
                        "queries": {
                            "fetchOnlyWithAttachment": false,
                            "folderPath": "Inbox",
                            "importance": "Any"
                        }
                    }
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnectionNotification"
            }
        }
    },
    "kind": "Stateful"
}