code/logic-apps/docAIEmailProcessingLogicApp/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition-HasAttachment(s)": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()?['hasAttachments']",
                                true
                            ]
                        }
                    ]
                },
                "actions": {
                    "ForEach-Attachment": {
                        "type": "Foreach",
                        "foreach": "@triggerBody()?['attachments']",
                        "actions": {
                            "GetAttachment": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "office365-1"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/codeless/v1.0/me/messages/@{encodeURIComponent(triggerBody()?['id'])}/attachments/@{encodeURIComponent(item()?['id'])}"
                                }
                            },
                            "f(extractAttachmentData)": {
                                "type": "Function",
                                "inputs": {
                                    "method": "POST",
                                    "body": {
                                        "attachmentName": "@body('GetAttachment')?['name']",
                                        "categories": "@body('f(getAttachmentClass)')",
                                        "messageType": "email-attachment-extracts",
                                        "receivedTimeFolder": "@formatDateTime(triggerBody()?['receivedDateTime'], 'yyyy-MM-ddTHH:mm:ss')",
                                        "sender": "@triggerBody()?['from']",
                                        "uri": "@{appsetting('DOCAI_BLOB_STORE_ENDPOINT')}/docai/logic-app-extracted-emails/"
                                    },
                                    "queries": {
                                        "messageId": "@{triggerBody()?['id']}"
                                    },
                                    "function": {
                                        "connectionName": "azureFunctionOperation-4"
                                    }
                                },
                                "runAfter": {
                                    "f(getAttachmentClass)": [
                                        "SUCCEEDED"
                                    ]
                                }
                            },
                            "f(getAttachmentClass)": {
                                "type": "Function",
                                "inputs": {
                                    "method": "POST",
                                    "body": {
                                        "formRecognizerCategories": "@body('f(getAttachmentClassUsingFormRecognizerCustomModel)')",
                                        "messageType": "email-attachment",
                                        "openAICategories": "@body('f(getAttachmentClassUsingOpenAI)')"
                                    },
                                    "queries": {
                                        "messageId": "@{triggerBody()?['id']}"
                                    },
                                    "function": {
                                        "connectionName": "azureFunctionOperation-5"
                                    }
                                },
                                "runAfter": {
                                    "f(getAttachmentClassUsingFormRecognizerCustomModel)": [
                                        "SUCCEEDED",
                                        "TIMEDOUT",
                                        "SKIPPED",
                                        "FAILED"
                                    ],
                                    "f(getAttachmentClassUsingOpenAI)": [
                                        "SUCCEEDED",
                                        "TIMEDOUT",
                                        "SKIPPED",
                                        "FAILED"
                                    ]
                                }
                            },
                            "f(getAttachmentClassUsingFormRecognizerCustomModel)": {
                                "type": "Function",
                                "inputs": {
                                    "method": "POST",
                                    "body": {
                                        "attachmentName": "@item()?['name']",
                                        "messageType": "email-attachment",
                                        "receivedTimeFolder": "@formatDateTime(triggerBody()?['receivedDateTime'], 'yyyy-MM-ddTHH:mm:ss')",
                                        "sender": "@triggerBody()?['from']",
                                        "uri": "@{appsetting('DOCAI_BLOB_STORE_ENDPOINT')}/docai/logic-app-extracted-emails/"
                                    },
                                    "queries": {
                                        "messageId": "@{triggerBody()?['id']}"
                                    },
                                    "function": {
                                        "connectionName": "azureFunctionOperation-7"
                                    }
                                },
                                "runAfter": {
                                    "saveAttachmentInBlobStore": [
                                        "SUCCEEDED"
                                    ]
                                }
                            },
                            "f(getAttachmentClassUsingOpenAI)": {
                                "type": "Function",
                                "inputs": {
                                    "method": "POST",
                                    "body": {
                                        "attachmentName": "@item()?['name']",
                                        "messageType": "email-attachment",
                                        "receivedTimeFolder": "@formatDateTime(triggerBody()?['receivedDateTime'], 'yyyy-MM-ddTHH:mm:ss')",
                                        "sender": "@triggerBody()?['from']",
                                        "uri": "@{appsetting('DOCAI_BLOB_STORE_ENDPOINT')}/docai/logic-app-extracted-emails/"
                                    },
                                    "queries": {
                                        "messageId": "@{triggerBody()?['id']}"
                                    },
                                    "function": {
                                        "connectionName": "azureFunctionOperation-6"
                                    }
                                },
                                "runAfter": {
                                    "saveAttachmentInBlobStore": [
                                        "SUCCEEDED"
                                    ]
                                }
                            },
                            "f(saveAttachmentProperties)": {
                                "type": "Function",
                                "inputs": {
                                    "method": "POST",
                                    "body": {
                                        "attachmentName": "@item()?['name']",
                                        "categories": "@body('f(getAttachmentClass)')",
                                        "messageType": "email-attachment",
                                        "receivedTime": "@triggerBody()?['receivedDateTime']",
                                        "receivedTimeFolder": "@formatDateTime(triggerBody()?['receivedDateTime'], 'yyyy-MM-ddTHH:mm:ss')",
                                        "sender": "@triggerBody()?['from']",
                                        "uri": "@{appsetting('DOCAI_BLOB_STORE_ENDPOINT')}/docai/logic-app-extracted-emails/"
                                    },
                                    "queries": {
                                        "messageId": "@{triggerBody()?['id']}"
                                    },
                                    "function": {
                                        "connectionName": "azureFunctionOperation-3"
                                    }
                                },
                                "runAfter": {
                                    "f(getAttachmentClass)": [
                                        "SUCCEEDED"
                                    ]
                                }
                            },
                            "saveAttachmentInBlobStore": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "azureblob"
                                        }
                                    },
                                    "method": "post",
                                    "body": "@base64ToBinary(body('GetAttachment')?['contentBytes'])",
                                    "headers": {
                                        "ReadFileMetadataFromServer": true
                                    },
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('docai8adls8prod'))}/files",
                                    "queries": {
                                        "folderPath": "/docai/logic-app-extracted-emails/@{triggerBody()?['from']}/@{formatDateTime(triggerBody()?['receivedDateTime'], 'yyyy-MM-ddTHH:mm:ss')}/attachments/",
                                        "name": "@item()?['name']",
                                        "queryParametersSingleEncoded": true
                                    }
                                },
                                "runAfter": {
                                    "GetAttachment": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                }
                            }
                        }
                    }
                },
                "else": {
                    "actions": {}
                },
                "runAfter": {}
            },
            "f(getEmailClass)": {
                "type": "Function",
                "inputs": {
                    "method": "POST",
                    "body": {
                        "body": "@triggerBody()?['body']",
                        "messageType": "email-body",
                        "subject": "@triggerBody()?['subject']"
                    },
                    "queries": {
                        "messageId": "@{triggerBody()?['id']}"
                    },
                    "function": {
                        "connectionName": "azureFunctionOperation-1"
                    }
                },
                "runAfter": {}
            },
            "f(saveEmailProperties)": {
                "type": "Function",
                "inputs": {
                    "method": "POST",
                    "body": {
                        "bodyPreview": "@triggerBody()?['bodyPreview']",
                        "categories": "@body('f(getEmailClass)')",
                        "hasAttachment": "@triggerBody()?['hasAttachments']",
                        "isHTML": "@triggerBody()?['isHtml']",
                        "messageType": "email-body",
                        "receivedTime": "@triggerBody()?['receivedDateTime']",
                        "receivedTimeFolder": "@formatDateTime(triggerBody()?['receivedDateTime'], 'yyyy-MM-ddTHH:mm:ss')",
                        "sender": "@triggerBody()?['from']",
                        "subject": "@triggerBody()?['subject']",
                        "uri": "@{appsetting('DOCAI_BLOB_STORE_ENDPOINT')}/docai/logic-app-extracted-emails/"
                    },
                    "queries": {
                        "messageId": "@{triggerBody()?['id']}"
                    },
                    "function": {
                        "connectionName": "azureFunctionOperation-2"
                    }
                },
                "runAfter": {
                    "f(getEmailClass)": [
                        "SUCCEEDED"
                    ]
                }
            },
            "saveEmailBodyInBlobStore": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "azureblob"
                        }
                    },
                    "method": "post",
                    "body": "@triggerBody()?['body']",
                    "headers": {
                        "ReadFileMetadataFromServer": true
                    },
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('docai8adls8prod'))}/files",
                    "queries": {
                        "folderPath": "/docai/logic-app-extracted-emails/@{triggerBody()?['from']}/@{formatDateTime(triggerBody()?['receivedDateTime'], 'yyyy-MM-ddTHH:mm:ss')}/",
                        "name": "EmailBody.msg",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "NewEmailOfficeOutlook": {
                "type": "ApiConnectionNotification",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "office365"
                        }
                    },
                    "fetch": {
                        "pathTemplate": {
                            "template": "/v3/Mail/OnNewEmail"
                        },
                        "method": "get",
                        "queries": {
                            "importance": "Any",
                            "fetchOnlyWithAttachment": false,
                            "includeAttachments": true,
                            "subjectFilter": "@parameters('SUBJECT_PREFIX_LOGIC_APP_TRIGGER')",
                            "folderPath": "Inbox"
                        }
                    },
                    "subscribe": {
                        "body": {
                            "NotificationUrl": "@{listCallbackUrl()}"
                        },
                        "pathTemplate": {
                            "template": "/GraphMailSubscriptionPoke/$subscriptions"
                        },
                        "method": "post",
                        "queries": {
                            "importance": "Any",
                            "fetchOnlyWithAttachment": false,
                            "folderPath": "Inbox"
                        }
                    }
                },
                "splitOn": "@triggerBody()?['value']"
            }
        }
    },
    "kind": "Stateful"
}